* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f3ee;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

header {
    background-color: #d3c3a6;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    max-width: 140px;
    height: auto;
}

.menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding-top: 20px;
}

.menu li {
    margin-left: 10px;
    margin: 0 15px

}

.menu li a {
    text-decoration: none;
    color: #6b5847;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: 1px solid #6b5847;
}

.menu li a:hover {
    background-color: #f2e2c6;
    color: #9b7d5e;
    border-color: #9b7d5e;
}

#banner {
    background-image: url('../imagens/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

#banner h1, #banner p {
    font-size: 24px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.cta-btn {
    display: inline-block;
    background-color: #9b7d5e;
    color: #fff;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    border: 1px solid #6b5847;
}

.cta-btn:hover {
    background-color: #6b5847;
}

#products {
    background-color: #fff;
    padding: 50px 0;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.product {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}

.product h3, .product p {
    margin-bottom: 10px;
}

.product:hover {
    transform: scale(1.05);
}

.price {
    font-weight: bold;
    color: #9b7d5e;
}

#about {
    background-color: #f9f9f9;
    padding: 50px 20px;
}

#about h2 {
    margin-bottom: 20px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-text {
    flex: 1;
    margin-bottom: 30px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: #fff;
}

.about-text:hover {
    border-color: #9b7d5e;
    transform: scale(1.05);
}

.about-text img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.about-box {
    padding: 20px;
}

#contacts {
    background-color: #fff;
    padding: 50px 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #9b7d5e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #6b5847;
}

footer {
    background-color: #f9f9f9;
    padding: 50px 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-info,
.social-icons,
.team-members {
    width: 30%;
}

.social-icons h3,
.team-members h3 {
    margin-bottom: 10px;
}

.social-icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons ul li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons ul li img {
    width: 30px;
    height: 30px;
}


.team-members ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.team-members ul li {
    margin-bottom: 5px;
}

.container2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

@media screen and (max-width: 767px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-text {
        width: 100%;
    }

    .logo {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .logo img {
        display: inline-block;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        margin-right: 0;
    }

    footer .container {
        flex-direction: column;
        align-items: center;
    }

    .contact-info,
    .social-icons,
    .team-members {
        width: 100%;
        margin-bottom: 30px;
    }

}

.buy-btn {
    background-color: #9b7d5e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-btn:hover {
    background-color: #6b5847;
    
}
